@minWidth: 1200px;
@minHeight: 700px;
@footerHeight: 100px;
@footerPadding: 20px;

html,
body {
	min-width: @minWidth;
	min-height: @minHeight;
	//width: auto !important;
	width: 100%;
	//height: auto !important;
	height: 100%;
	font-weight: 300;
}

body {
    background-image: url('/img/4.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

// IE/Firefox set height hack
// This is needed because max-height in child elements will exceed parent height if no height is specied for all parents.
.durandal-wrapper,
.project-list,
.project-list ul,
#wrap .row,
#wrap .row div {
	height: 100%;
}

.durandal-wrapper,
.project-list,
.project-list ul {
	width: 100%;
}

.col-crop {
	overflow: hidden;
}

#wrap a.contact-map {
	display: block;
	height: 100%;
}

a {
	outline: none;
	-moz-outline-style: none;
	&:focus {
		outline: none;
		-moz-outline-style: none;
	}
}

#applicationHost {
	//width: auto !important;
	width: 100%;
	//height: auto !important;
	height: 100%;
	position: relative;
}

#wrap {
	padding: 0px;
	min-width: @minWidth;
	//width: auto !important;
	width: 100%;
	//height: auto !important;
	height: 100%;
	padding-top: @footerHeight;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	.box-sizing(100%);
}

#footer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  	height: @footerHeight;
  	background: #fff;
	.row {
		min-width: @minWidth;
		width: auto !important;
		width: 100%;
		padding: 15px 20px 20px 20px;
	}
	.brand-logo {
		padding: 0;
		img {
			margin-top: 4px;
		}
	}
	.nav-application {
	 	.pull-left;
	 	min-width: 90px;
		li {
			display: list-item;
			margin-bottom: 0px;
			line-height: 0;
			a {
				display: inline;
				padding: 0;
				font-size: 12px;
				font-style: normal;
				line-height: 17px;
				&:hover {
					background: transparent;
				}
			}
			&.active {
				a {
					color: @link-hover-color;
					background: #fff;
				}
			}
		}
	}

	.nav-divider {
		.pull-left;
		margin-right: 20px;
		img {
			margin-top: 4px;
		}
	}

	.project-title {
		font-size: 12px;
		font-style: normal;
		line-height: 17px;
		h2 {
			margin-top: 8px;
			margin-bottom: 1px;
		}
	}
}

@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}

.slide-navigation {
	margin-top: 13px;
	li {
		vertical-align: middle;
		padding: 0 0 0 18px;
		font-size: 12px;

		&.number {
			width: 48px;
			margin-top: -4px;
		}
	}
	.slide {
		cursor: pointer;
		display: inline-block;
		width: 24px;
		height: 43px;
		overflow: hidden;
		&.prev {
			background: url('../img/prev.png') no-repeat 0 0;
			background-size: 48px 43px;
		}

		&.next {
			background: url('../img/next.png') no-repeat 0 0;
			background-size: 48px 43px;
		}

		&:hover {
			background-position: -24px 0;
		}
	}
}

.backsplash {
	background-image: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
    width: 100%;
    height: 100%;
    margin-bottom: 140px;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */

	&.about {
		background-image: none;
	}

	&.projects {
		background-image: none;
	}

	&.details {
		background-image: none;
	}

	&.contact {
		background-image: none;
	}

	&.blog {
		background-image: url("../img/1.jpg");
	}
}

.box-padding {
	margin: 24px;

	&.about-box {
		margin-top: 49px;
	}

	&.about-profile-link {
		margin-top: 11px;
	}
}

.text-container {
	max-width: 600px;
}

.project-list {
	overflow: hidden;
	ul {
		white-space: nowrap;
		font-size: 0;
		display: block;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			background-position: center center;
			img {
				display: inline-block;
			}
		}
	}
}

.project-info {
	position: fixed;
	top: @footerHeight;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.8);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff)")); // IE9 and down
	zoom: 1;
	overflow-y: auto;

	.close-info {
		cursor: pointer;
		margin: 25px;
		display: block;
		width: 42px;
		height: 43px;
		overflow: hidden;
		background: url('../img/close.png') no-repeat -42px 0;
		background-size: 84px 43px;

		&:hover {
			background-position: 0 0;
		}
	}

	h2 {
		margin-bottom: 0;
	}

	a {
		color: #000;
		text-decoration: underline;
		font-size: 12px;

		&:hover {
			color: #666;
		}
	}

	.project-description {
	}

	.project-label {
		font-size: 12px;
		margin-top: -3px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
}

.profile-link {
	color: #000;
	text-decoration: underline;
	font-size: 12px;

	&:hover {
		color: #666;
	}

	&.recipe-link {
		display: block;
		text-transform: uppercase;
		margin-top: -8px;
	}
}

.process-list {
	overflow: hidden;
	height: 100%;
	ul {
		white-space: nowrap;
		display: block;
		margin: 0;
		padding: 0;
		height: 100%;

		li {
			display: inline;
            img {
                    display: inline-block;
                    vertical-align: top;
            }
			.text-container {
				display: inline-block;
				white-space: normal;

				h2 {
					margin-top: 0;
				}
			}
		}
	}
}

#wrap .row,
.process-list {
    background-color: #fff;
}

.img-responsive-height {
	max-height: 100%;
	width: auto;
	vertical-align: top;
}

.cursor-pointer {
	cursor: pointer;
}

.cbp-bislideshow {
    list-style: none;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.cbp-bislideshow li {
    position: absolute;
    width: 101%;
    height: 101%;
    top: -0.5%;
    left: -0.5%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}

.backgroundsize .cbp-bislideshow li {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
}

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
    display: none;
}

.cbp-bislideshow li img {
    display: block;
    width: 100%;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
    opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
    display: block;
}


.cbp-rfgrid {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.cbp-rfgrid li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 25%; /* Fallback */
	width: -webkit-calc(100% / 4);
	width: calc(100% / 4);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.cbp-rfgrid li a,
.cbp-rfgrid li a img {
	display: block;
	width: 100%;
	cursor: pointer;
}

.cbp-rfgrid li a img {
	max-width: 100%;
	vertical-align: baseline;
	.opacity(0);
}

/* Flexbox is used for centering the heading */
.cbp-rfgrid li a div {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.cbp-rfgrid li a:hover div {
	opacity: 1;
}

.cbp-rfgrid li a div span {
	width: 100%;
	color: #fff;
	font-size: 24px;
	padding: 0 10px;
}

/* Example for media query: change number of items per row */

@media screen and (max-width: 1500px) {
	.cbp-rfgrid li {
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 1250px) {
	.cbp-rfgrid li {
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 1000px) {
	.cbp-rfgrid li {
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 750px) {
	.cbp-rfgrid li {
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 500px) {
	.cbp-rfgrid li {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 250px) {
	.cbp-rfgrid li {
		width: 100%;
	}
}
