<div class="row">
	<div class="col-md-4">
		<section class="box-padding text-container">
		    <h2>Contact</h2>
		    <address>
		    	<a href="mailto: info@fleetwoodfernandez.com">info@fleetwoodfernandez.com</a><br />
		    	213 553 9135
		    </address>
		    <address>
		    	<a data-bind="attr: { href: addressURL }" target="_blank">
			    	1275 E. 6th Street<br />
			    	Studio 202<br />
					Los Angeles, CA<br />
					90021
		    	</a>
		    </address>
		</section>

		<section class="box-padding about-profile-link">
			<a class="profile-link" href="http://www.facebook.com/FleetwoodFernandezArchitecture" title="Facebook: https://www.facebook.com/FleetwoodFernandezArchitecture"><img src="img/facebook.png" alt="Facebook: https://www.facebook.com/FleetwoodFernandezArchitecture" /></a>
			<a class="profile-link" href="http://www.instagram.com/fleetwoodfernandez/" title="Instagram: @fleetwoodfernandez"><img src="img/instagram.png" alt="Instagram: @fleetwoodfernandez" /></a>
			<a class="profile-link" href="http://ffarqblog.tumblr.com" title="Tumblr: http://ffarqblog.tumblr.com"><img src="img/tumblr.png" alt="Tumblr: http://ffarqblog.tumblr.com" /></a>
		</section>
	</div>
	<div class="col-md-8">
		<a class="contact-map" data-bind="attr: { href: addressURL }" target="_blank"><img class="img-responsive-height pull-right" src="img/map.jpg" alt="1275 E. 6th Street, Studio 202, Los Angeles, CA, 90021" /></a>
	</div>
</div>