<div class="row">
	<div class="col-md-6">
		<section class="box-padding text-container about-box">
		    <h2>About</h2>
		    <p>We are Fleetwood Fernandez Architects, a Los Angeles based creative studio. Around a really large desk and often an even larger lunch, we design buildings and spaces that resonate on an emotional level with the people that inhabit them. We do so by pursuing ideas about the extent to which the built environment can alter not only our memory, but our actions. We see the act of architecture as a process to explore these ideas through spatial means, and we collaborate with like-minded clients and colleagues to collectively embark on the process. With an economy of form and line, we design houses, restaurants, commercial buildings and even a repurposed dumpster’s roof.  Regardless of scale, what sets us apart is our relentless pursuit of simplicity, devotion to ideas and our love of jamón.</p>
		</section>
		<section class="box-padding about-profile-link">
			<a class="profile-link" href="http://www.facebook.com/FleetwoodFernandezArchitecture" title="Facebook: https://www.facebook.com/FleetwoodFernandezArchitecture"><img src="img/facebook.png" alt="Facebook: https://www.facebook.com/FleetwoodFernandezArchitecture" /></a>
			<a class="profile-link" href="http://www.instagram.com/fleetwoodfernandez/" title="Instagram: @fleetwoodfernandez"><img src="img/instagram.png" alt="Instagram: @fleetwoodfernandez" /></a>
			<a class="profile-link" href="http://ffarqblog.tumblr.com" title="Tumblr: http://ffarqblog.tumblr.com"><img src="img/tumblr.png" alt="Tumblr: http://ffarqblog.tumblr.com" /></a>
		</section>
	</div>
	<div class="col-md-6 col-crop">
		<img src="img/About.jpg" class="img-responsive-height pull-right" />
	</div>
</div>
