<div class="row">
	<div class="col-md-4">
		<section class="box-padding text-container">
		    <h2>Contact</h2>
		    <address>
		    	<a href="mailto: info@fleetwoodfernandez.com">info@fleetwoodfernandez.com</a><br />
		    	310 264 0273
		    </address>
		    <address>
		    	<a data-bind="attr: { href: addressURL }" target="_blank">
			    	1731 Berkeley Street<br />
			    	Studio 2<br />
			    	Santa Monica, CA<br />
			    	90404
		    	</a>
		    </address>
		</section>
	</div>
	<div class="col-md-8">
		<a class="contact-map" data-bind="attr: { href: addressURL }" target="_blank"><img class="img-responsive-height pull-right" src="img/map.png" alt="1731 Berkeley Street, Studio 2, Santa Monica, CA, 90404" /></a>
	</div>
</div>