<div class="row">
	<div class="col-md-4">
		<section class="box-padding text-container">
		    <h2>Contact</h2>
		    <address>
		    	<a href="mailto: info@fleetwoodfernandez.com">info@fleetwoodfernandez.com</a><br />
		    	213 553 9135
		    </address>
		    <address>
		    	<a data-bind="attr: { href: addressURL }" target="_blank">
			    	1275 E. 6th Street<br />
			    	Studio 202<br />
					Los Angeles, CA<br />
					90021
		    	</a>
		    </address>
		</section>
	</div>
	<div class="col-md-8">
		<a class="contact-map" data-bind="attr: { href: addressURL }" target="_blank"><img class="img-responsive-height pull-right" src="img/map.jpg" alt="1275 E. 6th Street, Studio 202, Los Angeles, CA, 90021" /></a>
	</div>
</div>