<div class="project-list" data-bind="fadeImageLoader: true">
	<ul data-bind="template: { foreach: project().assets }">
		<li data-bind="click: $parent.next, style: { cursor: 'pointer' }"><img data-bind="attr: { src: path }" class="img-responsive-height" /></li>
	</ul>
</div>

<div class="project-info" data-bind="visible: displayInfo">
	<div class="col-md-6">
		<section class="box-padding">
		    <div class="project-label"><!-- ko text: project().location --><!-- /ko --></div>
		    <span class="project-description" data-bind="html: project().description"></span>
		</section>
		<!-- ko foreach: project().external -->
		<section class="box-padding">
			<a class="profile-link" data-bind="attr: { href: path }"><!-- ko text: label --><!-- /ko --></a>
		</section>
		<!-- /ko -->
	</div>
	<div class="col-md-6">
		<span class="pull-right close-info" data-bind="click: closeInfo"></span>
	</div>
</div>
