<div class="row">
	<div class="col-md-6">
		<section class="box-padding">
		    <h2>Mariapaz Fernandez</h2>
		    <p>Mariapaz "Paz" Fernández-Trillo is a founding principal of Fleetwood / Fernandez. With a keen eye for detail and a deep interest in materials, she is directly involved in the design and implementation of every project. As a LEED accredited professional, she also leads the office's commitment to sustainable design.</p>
		    <p>Born and raised in Spain, Paz attended the Escuela Técnica Superior de Arquitectura (ETSAM) in Madrid, and later Catholic University of America, where she earned a B. A. in Architecture. She has worked with Skidmore Owings and Merrill in Washington DC, and Gensler in Los Angeles where, as a senior designer, she honed her expertise in high-end commercial office and retail interiors.</p>
		    <p>Paz has taught advanced design studios at UCLA Extension's architecture and interior design program, and she has been a visiting critic at University of Southern California School of architecture since 2006. In her down time she likes to hike the Santa Monica Mountains’ trails and cook meals big and small while perfecting the dream kitchen in her head.</p>
		</section>
	</div>
	<div class="col-md-6">
	</div>
</div>
