<div class="row">
	<div class="col-md-6">
		<section class="box-padding">
		    <h2>Mariapaz Fernandez</h2>
		    <p>Fleetwood Fernandez believes in the power of a good idea, a firm wit, and plenty of research.</p>
		    <p>Founded by partners <a href="#">Hunter Fleetwood</a> and <a href="#">Mariapaz Fernandez-Trillo</a>, Fleetwood / Fernandez provides architectural services for the design and constructionof buildings and interiors. The office draws upon a wide breadth of experience in retail, commercial, residential, and art spaces to create projects that are free of stylistic obligation</p>
		    <p>Fleetwood / Fernandez is committed to an iterative approach to design that engages idosyncrasies of program, site, material, qualitities and local construction methods to deliver projects of lasting quality. The office has built work in Spain as well as the USA.</p>
		</section>
	</div>
	<div class="col-md-6">
	</div>
</div>