<div class="row">
	<div class="col-md-6">
		<section class="box-padding text-container">
		    <h2>Hunter Fleetwood</h2>
		    <p>A founding principal of Fleetwood/ Fernandez, Hunter Fleetwood oversees the design direction and management of every project.  His belief in the strength of ideas and a rigorous process guides a practice engaged in both construction and academia.  With a background in fine arts, he spearheads the office’s research efforts and public art projects.   Prior to founding Fleetwood/ Fernandez, Hunter worked with Frederick Fisher and Partners for several years, where he completed award winning residential, commercial and museum projects. Hunter has lectured and served on juries at a number of educational institutions, and currently teaches undergraduate level studios and drawing at the University of Southern California School of architecture. Hunter holds a B.A. in Architecture from Catholic University of America and he is a registered architect in California and New York.</p>
		</section>
	</div>
	<div class="col-md-6 col-crop">
		<img src="img/Hunter.jpg" class="img-responsive-height pull-right" />
	</div>
</div>
