 <div class="process-list" data-bind="totalProcessSlides: true">
 	<ul>
 		<li>
 			<section class="box-padding text-container">
			    <h2>Process</h2>
			    <p>We believe in the power of a good idea, a firm wit, and plenty of research. Our process starts with a conceptual investigation of the questions posed by a new project, and is developed by the formal exploration of the many answers to those questions.  We look to both abstractions and data in theory, history, and the arts to develop a guiding narrative that resolves the conflicting realities of program, site, and budget. We succeed when we find new ways of thinking about the dialogues and connections between people and place, which is the ultimate goal of our process. We give equal rights to all tools of the trade: trace paper and pen for instant gratification; physical models for sheer fun; and digital technologies for both their limitless potential and the perfect reality they (temporarily) permit. We work in an open environment because collectively pursuing good ideas is more important to us than individual ownership over them, and because we all like the same music.</p>
			</section>
 		</li><li><img class="img-responsive-height" src="img/projects/peninsula/Peninsula_01.jpg"></li><li><img class="img-responsive-height" src="img/projects/peninsula/Peninsula_02.jpg"></li><li><img class="img-responsive-height" src="img/projects/peninsula/Peninsula_04.jpg"></li>
 	</ul>
 </div>