<div data-bind="attr: { 'class': getBackground }">
    <div data-bind="router: { transition:'entrance' }" class="container-container"></div>
    <div class="push"></div>
</div>
<footer>
    <div class="row">
        <div class="col-md-2"><a class="brand-logo" href="#"><img src="img/logo.png" /></a></div>
        <div class="col-md-4">
            <ul class="nav nav-application" data-bind="foreach: mainNavigation">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <span class="nav-divider"><img src="img/slash.png" /></span>
            <!-- ko if: getCurrentRoute() === 'projects' -->
            <ul class="nav nav-application" data-bind="foreach: subNavigation('categories')">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash + type }, html: title"></a>
                </li>
            </ul>
            <!-- /ko -->
            <!-- ko if: getCurrentRoute() === 'about' -->
            <ul class="nav nav-application" data-bind="foreach: subNavigation('about')">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash + type }, html: title"></a>
                </li>
            </ul>
            <!-- /ko -->
        </div>
        <div class="col-md-6">
            <ul class="list-inline list-unstyled slide-navigation pull-right">
                <li><a class="slide prev" href="#"></a></li>
                <li>01/08</li>
                <li><a class="slide next" href="#"></a></li>
            </ul>
        </div>
    </div>
</footer>