<div id="wrap">
    <div id="content-container" data-bind="attr: { 'class': getBackground }">
        <div id="container" data-bind="router: { transition:'entrance' }"></div>
    </div>
</div>
<footer>
    <div class="row">
        <div class="col-md-2"><a class="brand-logo" href="#"><img src="img/logo.png" /></a></div>
        <div class="col-md-6">
            <ul class="nav nav-application" data-bind="foreach: mainNavigation">
                <li data-bind="css: { active: $parent.markActive($data) }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <!-- ko if: route() === 'projects' || route() === 'details' -->
            <span class="nav-divider"><img src="img/slash.png" /></span>
            <ul class="nav nav-application" data-bind="foreach: subNavigation('categories')">
                <li data-bind="css: { active: $parent.projectFilter() === title }">
                    <a data-bind="attr: { href: hash + settings.id }, html: title"></a>
                </li>
            </ul>
                <!-- ko if: project() -->
                    <span class="nav-divider"><img src="img/slash.png" /></span>
                <!-- /ko -->    
            <!-- /ko -->
            <!-- ko if: route() === 'about' -->
            <span class="nav-divider"><img src="img/slash.png" /></span>
            <ul class="nav nav-application" data-bind="foreach: subNavigation('about')">
                <li>
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <!-- /ko -->
            <!-- ko if: project() -->
                <div class="project-title nav-application">
                    <h2 data-bind="text: project().name"></h2>
                    <a class="cursor-pointer" data-bind="click: projectInfo">PROJECT INFO</a>
                </div>
            <!-- /ko -->
        </div>
        <div class="col-md-4">
            <!-- ko if: project() && route() === 'details' -->
            <ul class="list-inline list-unstyled slide-navigation pull-right">
                <li><span class="slide prev" data-bind="click: previous"></span></li>
                <li><!-- ko text: formatSlideNumber(parseInt(projectSlide() + 1, 10)) --><!-- /ko -->/<!-- ko text: formatSlideNumber(project().assets.length) --><!-- /ko --></li>
                <li><span class="slide next" data-bind="click: next"></span></li>
            </ul>
            <!-- /ko -->
        </div>
    </div>
</footer>